
.listItem {
    background: #ffffff;
    margin-bottom: 5px;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 15px;
    position: relative;
}

p, ul, li {
    margin: 0;
}

.remove {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
}