.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #f8f8fb;
    padding-top: 10em;
}

.mealPlan {
    max-width: 800px;
    margin: auto;
}

.listItem {
    background: #ffffff;
    margin-bottom: 5px;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 15px;
    position: relative;
}

p, ul, li {
    margin: 0;
}

.close {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background: #ffffff;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
}

.remove {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
}